*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins,sans-serif;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
.hero-header{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #222;
}
.wrapper{
    width: 1280px ;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    margin: 20px;
    width: 100%;
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    background: #000000b9;
    
}
.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.logo i{
   height: 45px;
   width: 45px;
   background-color: #007ced;
   color: #fff;
   font-weight: 700;
   font-size: 1.5rem; 
   padding: 10px;
   margin-right: 5px;
   cursor: pointer;
   text-align: center;
}
.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    
}
nav .togglebtn{
    width: 35px;
    height: 35px;
    
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    display: none;

    
}

nav .togglebtn span{
    display: block;
    background-color: #007ced;
    margin: 5px 0px;
    width: 100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform, opacity;
}

nav .navlinks{
    list-style-type: none;
}
nav .navlinks li{
    display: inline-block;
}
nav .navlinks li a{
    color: #e5e5e5;
    margin-right: 2.5rem;
}

.container{
    display:  flex;
    justify-content:  space-around;
    align-items: center;
    padding-top: 200px;
    margin-bottom: 3rem;
}
.container .hero-pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #007ced;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);   
}
.container .hero-pic:hover{
    
    border-color:  #7CFC00;
    transition: 1s;
}
.hero-pic img{
    height: 100%;
    width: 100%;
    transition: 0.5;
}
.hero-pic img:hover{
    transform:  scale(1.2);
    
}
.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.hero-text h5{
    color:#e5e5e5;
    font-size: 14px; 
}
.hero-text h5 span{
    color: #007ced;
    font-size: 16px;
}

.hero-text h1{
    color: #007ced;
    font-size: 3rem;
}

.hero-text p{
    color: #e5e5e5;
}
.btn-group{
    margin: 45px 0;
}
.btn-group .btn{
    border-color: #d5d5d5;
    color: #fff;
    background-color: #333;
    padding:  12px 25px;
    margin:  5px 0;
    margin-right: 7px ;
    border-radius:  30px;
    border:  2px solid #e5e5e5 ;
    box-shadow: 0 10px -8px  rgb(0, 0, 0 /78%);
}
.btn.active{
    border-color: #007ced;
}
.hero-text .social i{
    color:#e5e5e5 ;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;
}
.hero-text .social i:hover{
    color:  #007ced;
    transform: rotate(360deg);
}

.sobreMi, .habilidades, .miFormacion, .proyectos {
    padding-bottom: 4rem;
    margin-top: 120px;
    margin-bottom: 120px;
    border-bottom: 1px double #FFEBCD ;
    padding-top: 200px;
}

.sobreMi_titulo{
    margin-top: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    color:#e5e5e5 ;
    text-align: center;
}

.container_content-sobreMi{
   
    margin: 5px;
    display: flex;
    flex-direction: row;

}
.container_text-sobreMi{
    display: flex;
    margin: 5px;
    flex-direction: column;
    
}
.sobreMi_nombreTitulo{
    margin: 10px;
    font-size: 3rem;
    font-family: 'Handjet', cursive;
    color: #007ced;
}

.sobreMi_Texto{
    margin: 10px;
    color:#FFEBCD ;
    text-align: center;
    font-size: 20px;
}

.imagen_sobreMi {
    width: 500px;
    height: 500px;
    border-radius: 30%;
    margin: 2px;
}

.habilidades_titulo ,.miFormacion_titulo, .proyecto_titulo {
    width: 100%;
    margin: 5px;
    padding: 5px;
}

.habilidades_titulo-texto , .miFormacion_titulo-texto,  .proyecto_titulo-texto {
    font-size: 40px;
    font-family: 'Roboto Mono', monospace;
    color:#e5e5e5 ;
    text-align: center;
}

.habilidades_conteiner {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    padding: 20px;
}

.habilidades_conteiner-item {
    border: 2px solid #fff;
    background-color: aqua;
    margin: 20px;
    width: 150px;
    height: 150px;
    text-align: center;
    font-weight: bold;
    border-radius: 50px;
}
.miFormacion_container, .proyecto_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}

.miFormacion_cart, .proyecto_cart{
    border: 2px solid #fff;
    background-color: aqua;
    margin: 20px;
    height: 400px;
    width: 400px;
}
.proyecto_cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proyectos_cart-img{
    width: 500px;
    height: 500px;
    border-radius: 30%;
    margin: 2px;
}

footer{
    margin: 0px;
    padding: 0px;    
}

.conteiner_Footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    padding: 20px; 
}
.footerText{
    font-size: 10px;
    font-family: 'Amatic SC', cursive;
    color:#007ced ;

}










/* responsive small screen*/
@media(max-width:930px)
{
    nav .togglebtn{
        display: initial;
    }
    /*para toggle button*/
    .click{
        top:45px;
    }
    .click span{
        position: absolute;
        margin-top:  12px;
    }
    .click span:first-child{
        transform: rotate(-40deg);

    }
    .click span:nth-child(2){
        opacity: 0;
        margin: 0;
    }
    .click span:last-child{
        transform:  rotate(45deg);
        top: 0;
    }
    nav .navlinks{
        position: absolute;
        top: 110px;
        right: 100%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0, 0, 0, 0.1);
        transition: 0.5s;
        padding: 25px 0px;
    }

    nav .navlinks li{
        display: block;
    }

    nav .navlinks li a{
        display: block;
        margin-bottom:  15px;
        text-align:  center;
    }
    nav .navlinks.open{
        right: 0;
    }
}

@media (max-width:768px) 
{
    .container{
        flex-direction: column;
        padding-top: 2rem ;   
    }
    .hero-text{
        padding: 40px 0px;
    }
}




